<div class="selfcare_container">
  <h1>肩の痛みのセルフケア</h1>
  
  <h2>五十肩とは？</h2>
  <p>五十肩は、肩の関節周囲炎症の一つであり、肩関節の可動域が大きく制限される症状を指します。主に40歳以上の年齢層で見られます。</p>
  <h2>五十肩の原因</h2>
  <p>原因としては、多くの場合、
力こぶをつくる上腕二頭筋の長頭腱が炎症をおこしています。その腱が関節の中に入る付近や、関節の中での同腱の近くが炎症で痛みます。
痛みのため腕を動かさずじっとしていると、炎症のために関節の袋<br>
（関節包）が癒着を起こし、上腕骨の頭の部分が動くスペースが少なくなり、動かすと突っ張って痛む、
そうすると<br>また動かさない、という悪循環を来たし、さらに関節の
可動域が狭くなってしまいます。
</p>
  
   <div class="selfcare_section">
    <h2>五十肩のセルフケア</h2>
    <div>
  <%= image_tag "shoulder_selfcare.png", alt: '肩のセルフケア画像', class: "img-fluid", style: "padding-left: 70px;" %>
</div>

    <p>多少痛みを伴っても何とか肩関節を大きく動かすことが基本です。
お勧めは図のように仰向けで横になり、痛い方の腕が前から上にあがるように、肘のあたりを反対側の手で後ろに押す体操です。
このように行うことで肩甲骨が
固定され、肩甲骨と上腕骨頭の間を動かし易くなります。
</p>
  </div>
  <h2>肩腱板損傷とは？</h2>
  <p>肩腱板損傷は、肩の腱板（肩の関節を支える組織）が損傷を受ける状態を指します。<br>肩の上部で最も一般的な損傷の一つです。</p>
  
  <h2>肩腱板損傷の原因</h2>
  <p>肩腱板損傷の主な原因には、急激な肩の動きや怪我、長期間の過度な使用などが挙げられます。<br>スポーツや肉体労働などでよく見られます。</p>
  
  <div class="selfcare_section">
    <h2>肩腱板損傷のセルフケア</h2>
    <!--<img src="rotator_cuff_injury.jpg" alt="肩腱板損傷のセルフケア">-->
    <p>基本は残っている腱の動きを維持し、痛みのでない姿勢でゴムバンドを使い低負荷で鍛えたり、肩関節や肩甲骨を<br>動かすストレッチをしたりします。
</p>
  </div>

  <h2>ゆがみ改善専門整体師からのアドバイス</h2>
  
  <p>今まで肩の痛みの患者様に施術してきましたが、私自身も年齢を重ねるとともに<br>肩こりや左肩が上げづらい症状に悩まされていました。<br>
そこで毎朝脇の辺りの筋肉(大円筋)をしっかりつかみ、モミ上げるようなセルフケアをしています。<br>すると肩が開けるようになり、四十肩や肩こりの症状が改善されました。</p>
</div>

</body>
</html>
