<div class="custom-text">
    新着コラム記事
</div>

<div class="articles-container">
    <div class="article-card">
        <a href="detail1.html" class="article-link">
            <%= image_tag "article1.png", alt: '記事1の画像', class: "img-fluid" %>
            <h4>肩の痛みについて</h4>
            <p>2024.5.7</p>
            <p>四十肩、五十肩の改善方法対策、30代でも肩が痛くなるの？<br>
            実際に患者さんの症例で説明します。</p>

        </a>
    </div>

    <div class="article-card">
        <a href="#" class="article-link">
            <%= image_tag "article2.png", alt: '記事2の画像', class: "img-fluid" %>
            <h4>首の痛みについて</h4>
            <p>2024.5.8</p>
            <p>ストレートネック、寝違えの対策ってあるの？<br>普段の生活習慣の予防法をお話します！！</p>
        </a>
    </div>
</div>

<div class="articles-container">
    <div class="article-card">
        <a href="#" class="article-link">
            <%= image_tag "article3.png", alt: '記事3の画像', class: "img-fluid" %>
            <h4>膝の痛みについて</h4>
            <p>2024.5.9</p>
            <p>デスクワークしていたら、膝が痛くなってきました。<br>膝の痛みを軽減する筋トレ教えます！！
            </p>
        </a>
    </div>

    <div class="article-card">
        <a href="#" class="article-link">
            <%= image_tag "article4.png", alt: '記事4の画像', class: "img-fluid" %>
            <h4>腰の痛みについて</h4>
            <p>2024.5.10</p>
            <p>ぎっくり腰になってしまったが、どうすればいいかわからない。<br>改善策を教えます！！</p>
        </a>
    </div>
</div>
