<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>肩の痛みについての改善方法と対策</title>
</head>
<body>

<div class="selfcare_container">
  <h1>肩の痛みについての改善方法と対策</h1>
  
  <h2>四十肩、五十肩の改善方法</h2>
  <p>四十肩や五十肩は、年齢とともに肩関節周囲の組織が変化し、肩の可動域が制限される状態です。<br>改善方法としては、</p>
    <ul>
      <li>適度な運動やストレッチなどセルフケア</li>
      <li>肩の周囲筋群の強化</li>
      <li>整体での適切な施術</li>
      <li>急性は冷湿布、慢性は温湿布(急性は痛みや炎症が生じてから数日)</li>
      <li>食事改善(ミネラル不足や内臓疲労によるもの)</li>
    </ul>
    <p>などがあります。</p>
    
  <h2>30代でも肩が痛くなるの？</h2>
  <p>30代でも肩の痛みを感じることがあります。長時間のデスクワークや運動不足、<br>不良な姿勢などが原因となることがあります。
    <br>定期的なストレッチや運動、整体、良好な姿勢の維持が重要です。</p>
  
   <div class="patient_example">
    <h2>実際の患者さんの症例Aさん(30代男性、急性で右肩痛み)</h2>
    <p>普段から筋トレや体をを動かすことが好きな方でした。仕事は接客業で立ち仕事。朝起きて右肩を上げると激痛が走りました。大好きな筋トレも痛くてできず、仕事でも症状が出てしまい、大変だったのです。</p>
  </div>
  <div class="selfcare_section">
    <h2>ゆがみ改善専門整体師の施術</h2>
    <!--<img src="frozen_shoulder.jpg" alt="五十肩のセルフケア">-->
    <p>肩上げ検査で左肩を横から上げるのが難しく、左手の骨間筋の硬さがありました。調整すると左肩が上げやすくなり、肩のバランスが良くなった影響で右肩の痛みが軽減されていたのです。
    右肩が痛いと右肩自体に負担がかかっていると思う方もいらっしゃるかと思いますが、左側の手に問題があったのです。<br>
    その方には左手のセルフケアを教えて徐々に改善されてきたので、気になる方は施術時にお声掛けください。
</p>
  </div>
  
</div>

</body>
</html>